body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  background-color: #383434;
}

h1 {
  font-size: 3em;
  margin-bottom: 50px;
  color: #f3f3f3;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.right-image {
  flex-direction: row; 
}

.left-image {
  flex-direction: row-reverse; 
}

.member h2,
.member h3,
.member h4,
.member h5 {
  margin: 0 20px;
}

.member img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.pink-bg {
  background-color: #ffc0cb;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
}
.blue-bg {
  background-color: #add8e6; /* light blue */
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
}

.yellow-bg {
  background-color: #fff8b0; /* soft yellow */
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
}

.red-bg {
  background-color: #e65151; /* soft red */
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
}

.member h2,
.member h3,
.member h4,
.member h5 {
  margin: 0 20px;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
}
.member .description {
  color: white;
  font-size: 1em;
  margin: 0 20px;
  font-weight: bold;
}
